language: cpp
dist: xenial
notifications:
  email: false

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - python3
            - python3-pip
            - cppcheck
      env:
        - MATRIX_EVAL="CXX_COMPILER=g++-7; sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-7 90"

    - os: osx
      osx_image: xcode10.1
      addons:
        homebrew:
          packages:
          - python3
          - python3-pip
          - cppcheck
          update: true
      env:
        - MATRIX_EVAL="CXX_COMPILER=clang++"
    

before_install:
  - eval "${MATRIX_EVAL}"
  - pip install cpplint
  - pip install conan
  - mkdir build

install: 
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=$CXX_COMPILER
  - make

script:
  - make test